{% extends "index.html" %}
{% load static %}

{% block body %}

<form method="POST">
    {% csrf_token %}
    {{register_form.as_p}}
    <input type="submit" value="Register">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>If Already registered then <a href="{% url "main:login" %}">login</a>. </p>

{% endblock body %}