{% extends "index.html" %} 
{% load static %}

{% block body %}
<body style="background-color: #f1f1f1">
    <canvas id="whiteboard"  width="800" height="800" style= "background-color: white;"></canvas>
    <script>
        window.boardID = "{{board_id}}";
    </script>
    <script src="{% static 'web/index.js' %}" ></script>
    
    <p>Online:- <span id="show_users_count">hi</span></p>
    
    {% if user.pk == host_pk %}
        <form method="POST">
            {% csrf_token %}
            {{delete_form.as_p}}
            <input type="submit" value="Delete">
        </form>
    {% endif %}

</body>
{% endblock body %}
